body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #B5B9BA !important;

}


a {

    font-size: 1.4rem !important;
}

.hero {

    height: 80vh;
    background-image: url('../Images/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;


}

.service {

    
}

.hero h2 {

    position: relative;
    top: 35%;
    font-weight: bold;
    color: #fff;
}
.hero p {
    font-weight: 700;
    color: #000;
    font-size: 1.5rem;
    z-index: 500;
}

.bg-primary {

    background-color: #164A2F !important;   
}


.footer {

padding: 2rem;
}

.social-icons a {
    color: #0e0000;
    font-size: 1rem;
    margin: 1rem;
}